*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(23, 41, 67);
  font-family: sans-serif;
}
.app{
  margin: 20px;
padding: 20px;
}

header{
color: rgb(17, 210, 210);
  
}
header img{
  height: 50px;
}
header span{
font-size: 18px;

}

header{
  display: flex;
  gap: 22px;
  vertical-align: middle;
}
menu{
  margin-top: 20px;
}

menu button{
padding: 16px;
border-radius: 5px;
background-color: rgb(60, 75, 89);
color:  white;
border: none;
}
.active{
background-color: rgb(17, 210, 210);
color: black;
}

.content-list{

margin-top: 20px;
  color:  rgb(222, 221, 221);
  border-radius: 5px;
background-color: rgb(60, 75, 89);
padding: 20px 0px 30px 30px;
/* display: flex;
flex-direction: column;
justify-content: space-around; */
}
.content-list li{
  margin-top: 10px;
}
